body {
  font-family: "Ysabeau SC", sans-serif;
}
.content {
  max-width: 500px;
  margin: 90px auto;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
}
a {
  color: rgb(102, 101, 101);
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
#current-temp {
  font-size: 36px;
}
#temp-input {
  font-size: 13px;
  color: #343434;
}
#cloud-icon {
  width: 110px;
}
.small {
  position: absolute;
}
.corner {
  font-size: 20px;
}
.searching {
  margin-bottom: 20px;
}
button {
  padding: 1px 25px;
  border-radius: 6px;
  background-color: #212529;
  line-height: 33px;
  color: white;
}
button:hover {
  color: white;
  background: #565e64;
  transition: all 250ms ease-in-out;
}
.me {
  margin-top: 20px;
  text-align: center;
  opacity: 0.6;
}
.github-link {
  font-weight: bold;
  color: black;
}
.weather-forecast {
  margin-top: 15px;
  text-align: center;
}
