body {
  font-family: "Ysabeau SC", sans-serif;
}
.content {
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
}
a {
  color: rgb(102, 101, 101);
  text-decoration: none;
}
h1 {
  font-weight: bold;
}
#temp-input {
  font-size: 1px;
  color: #343434;
}
.cloudy {
  font-size: 45px;
}
.small {
  font-size: 20px;
  position: absolute;
}
.corner {
  font-size: 20px;
}
.list {
  list-style-type: none;
}
.searching {
  margin-bottom: 20px;
}
button {
  padding: 1px 25px;
  border-radius: 6px;
  background-color: #212529;
  line-height: 33px;
  color: white;
}
button:hover {
  color: white;
  background: #565e64;
  transition: all 250ms ease-in-out;
}
.me {
  margin-top: 20px;
  text-align: center;
  opacity: 0.8;
}
.github-link {
  font-weight: bold;
  color: black;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
ul {
  color: black;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forcast-date {
  font-size: 18px;
  color: black;
}
.min-temp {
  opacity: 0.7;
}
.weather-forecast-temp {
  font-size: 16px;
}
